.icon {
    text-align: center;
    font-family: 'Rouge Script', cursive;
    font-size: 50px;
    color: black;
}

.author {
    text-align: center;
    padding-top: 20px;
}

.disclaimer {
    text-align: center;
}

.disclaimer a {
    text-decoration: none;
}

.disclaimer a:hover {
    color: hotpink;
}